<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<a class="alert alert-success"> PASSWORD GENERATOR INFORMATON </a>
 <br>
 <br>
 <br>
<b class ="btn btn-warning">ABOUT :</b>
<c>-This website helps you generate a random password which you can use to keep you important folder and data safe from getting misused.
language used are html and python. </c>
 <br>
 <br>
<d class ="btn btn-warning">DEVELOPER: </d>
 <br>

-This website is developed by kashish with the help of udemy platform using Django framework.
<br>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
